{% extends "global/base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container-login">
        <h2>Login - Barbearia</h2>
        <form method="post">
            {% csrf_token %}
            {{ login_form.username.errors }}
            <label for="username">Usuário:</label>
            {{ login_form.username }}
            <label for="password">Senha:</label>
            {{ login_form.password }}
            <input type="submit" value="Entrar">
        </form>
        <br>
        <a href="{% url "register" %}"><input type="submit" value=Registrar></a>
    </div>
{% endblock content %}